@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400);

body {
  font-family: Roboto, "微軟正黑體";
  counter-reset: section;
}
.container {
  max-width: 600px;
}
ul {
  padding-left: 0;
}
ul li {
  list-style: none;
}
section {
  padding: 20px 40px 20px 40px;
  box-shadow: inset 0 0.75rem 2rem rgba(229, 225, 187, 0.5);
}
article {
  position: relative;
}
/* article::before {
    counter-increment: section;
    content: counter(section);
    position: absolute;
    left: -37px;
    top: 8px;
    display: block;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
  } */
h1 {
  font-size: 2rem;
  font-family: "Dancing Script";
}
ul li h4 {
    font-size:13px !important;
    border-bottom: none;
    margin-bottom:0;
}
h4 {
  font-size: 15px;
  margin-top: 20px;
  border-bottom: 1px solid rgb(229, 225, 187);
  padding-bottom: 6px;
  color: #4e5e72;
}
p {
  font-size: 13px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  section {
    padding: 20px 20px;
  }
}

/* zero custom styles for photoswipe */

/*==================================
             SWIPER
===================================*/
/* semantic HTML - remove bullet and space from the list */
ul.swiper-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Swiper container */
.swiper-container {
  max-width: 100%;
}

/* swiper responive image */
.swiper-container img {
  width: 100%;
  height: auto;
}

.swiper-slide {
  /* Remove this if you want 1 slide perview - than change slidesPerView js-option to 1 -or- 2+ instead of 'auto' */
  width: 80%;
}

/* Swiper custom pagination */
.swiper-pagination-bullet {
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
}
/* Swiper custom pagination active state */
.swiper-pagination-bullet-active {
  color: #fff;
  background: black;
}

.swiper-button-prev {
  height: 100%;
  top: 0;
  left: 0;
  padding: 8px;
  opacity: 0.2;
  -webkit-transition: opacity 0.6s; /* For Safari 3.1 to 6.0 */
  transition: opacity 0.6s;
}

.swiper-button-next {
  height: 100%;
  top: 0;
  right: 0;
  padding: 8px;
  opacity: 0.2;
  -webkit-transition: opacity 0.6s; /* For Safari 3.1 to 6.0 */
  transition: opacity 0.6s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}
/*==================================================================
           CODEPEN STYLES -(under codepen gear/setting icon)
  ==============================================++++++================*/
